*.css linguist-detectable=false
*.js linguist-detectable=true
*.R linguist-detectable=true
*.sql linguist-detectable=true
*.jupyter notebook linguist-detectable=false
*.python linguist-detectable=true
*.csv linguist-detectable=true
*.java script linguist-detectable=true
*.json linguist-detectable=true
*.yaml linguist-detectable=true
