*.css linguist-detectable=false
*.js linguist-detectable=true
*.R linguist-detectable=true
*.sql linguist-detectable=false
*.jupyter notebook linguist-detectable=false
*.py linguist-detectable=false
*.csv linguist-detectable=true
*.java linguist-detectable=false
